<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
	<link href="__TMPL__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
	<link href="__TMPL__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
	
<style type="text/css">
body {
	padding-bottom: 40px;
	padding: 10px 20px 20px 10px;
}
@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
</style>
</head>
<body>
	<div class="tips tips-large tips-success">
		<span class="x-icon x-icon-success">
			<i class="icon icon-ok icon-white"></i>
		</span>
		<div class="tips-content">
			<h2>关键字回复列表</h2>
		</div>
	</div>
	<br/>
	<form class="form-inline definewidth m20" action="" method="POST">
		<button type="button" onclick="location.href='__URL__/picCount/code/{$code}'">新增回复内容</button>
	</form>
	<br/>
	<table class="table table-bordered table-hover definewidth m10">
		<tr>
			<th style="width:15%;">标题</th>
			<th>描述</th>
			<th>链接地址</th>
			<th>图片</th>
			<th style="width:10%;">编辑</th>
			<th style="width:10%;">操作</th>
		</tr>
		<volist name="picInfo" id="vo">
		<tr>
			<td>{$vo.title}</td>
			<td>{$vo.summary}</td>
			<td>{$vo.url}</td>
			<td><img src="{$vo.picurl}" style="width:40px;height:25px;"></td>
			<td><a href="{:U('Admin/Wxmsg/picCount',array('id'=>$vo['id'],'code'=>$vo['code']))}">编辑</a></td>
			<td><a href="{:U('Admin/Wxmsg/delPicnews',array('id'=>$vo['id']))}" onclick="return confirm('确定要删除吗')">删除</a></td>
		</tr>
		</volist>
	</table>
</body>
</html>