<link rel="stylesheet" type="text/css" href="__TMPL__/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="__TMPL__/css/style.css" />
<link href="__TMPL__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
<link href="__TMPL__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__TMPL__/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript"
	src="__TMPL__/js/DatePicker/WdatePicker.js"></script>
<style type="text/css">
body {
	padding: 10px 20px 20px 10px;
	overflow: visible;
	font-family: Verdana, Geneva, sans-serif 
}
.sidebar-nav {
	padding: 9px 0;
}

@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
#div-1 {
	float: left;
	margin-top: 10px;
}

#div-2 {
	float: left;
	margin-top: 10px;
	margin-left: 8px;
}

#div-4 {
	float: left;
	margin-top: 8px;
}
</style>