<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
	<link href="__TMPL__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
	<link href="__TMPL__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
	
<style type="text/css">
body {
	padding-bottom: 40px;
	padding: 10px 20px 20px 10px;
}
</style>
<include file="Public:picUpload" />
</head>
<body>
	<div class="tips tips-large tips-success">
		<span class="x-icon x-icon-success">
			<i class="icon icon-ok icon-white"></i>
		</span>
		<div class="tips-content">
			<h2>会员提现最低值设置</h2>
		</div>
	</div>
	<br/>
	<form action="{:U('Admin/System/cashProcess')}" method="post" id="form1">
	<table class="table table-bordered table-hover definewidth m10">
		<tr>
			<td style="width:15%;">提现最低值</td>
			<td><input type="text" name="cash" value="{$list.cash}" id="cash">（元）</td>
		</tr>
		<tr>
			<td colspan='2'>
				<button type="button" onclick="checkPassword();">提交</button>
			</td>	
		</tr>
	</table>
	</form>
	<script type="text/javascript" src="__TMPL__/assets/js/jquery-1.8.1.min.js"></script>
	<script>
		function checkPassword () {
			var cash = $("#cash").val();
			if(isNaN(cash) || cash<0 || !cash){
				alert("请输入合法值!");
				return false;
			}
			$("#form1").submit();
			
		}
	</script>
</body>
</html>