<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
	<link href="__TMPL__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
	<link href="__TMPL__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
	
<style type="text/css">
body {
	padding-bottom: 40px;
	padding: 10px 20px 20px 10px;
}
</style>
<include file="Public:picUpload" />
</head>
<body>
	<div class="tips tips-large tips-success">
		<span class="x-icon x-icon-success">
			<i class="icon icon-ok icon-white"></i>
		</span>
		<div class="tips-content">
			<h2>会员购买折扣</h2>
		</div>
	</div>
	<br/>
	<form action="{:U('Admin/System/discountProcess')}" method="post" id="form1">
	<table class="table table-bordered table-hover definewidth m10">
		<tr>
			<td colspan=2>{$vip_one.vname}会员</td>
		</tr>
		<tr>
			<td style="width:15%;">会员折扣</td>
			<td><input type="text" name="discount" value="{$list.discount}" id="discount">（折）</td>
		</tr>
		<tr>
			<td colspan=2>{$vip_two.vname}会员</td>
		</tr>
		<tr>
			<td style="width:15%;">会员折扣</td>
			<td><input type="text" name="discount2" value="{$list.discount2}" id="discount2">（折）</td>
		</tr>
		<tr>
			<td colspan='2'>
				<button type="button" onclick="checkPassword();">提交</button>
			</td>	
		</tr>
	</table>
	</form>
	<script type="text/javascript" src="__TMPL__/assets/js/jquery-1.8.1.min.js"></script>
	<script>
		function checkPassword () {
			var discount = $("#discount").val();
			var discount2 = $("#discount2").val();
			if(isNaN(discount) || isNaN(discount2)){
				alert("请输入数字!");
				return false;
			}
			$("#form1").submit();
			
		}
	</script>
</body>
</html>