<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
	<link href="__TMPL__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
	<link href="__TMPL__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
	
<style type="text/css">
body {
	padding-bottom: 40px;
	padding: 10px 20px 20px 10px;
}
@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
</style>
</head>
<body>
	<div class="tips tips-large tips-success">
		<span class="x-icon x-icon-success">
			<i class="icon icon-ok icon-white"></i>
		</span>
		<div class="tips-content">
			<h2>小区公告</h2>
		</div>
	</div>
	<br/>
	<table class="table table-bordered table-hover definewidth m10">
		<tr>
			<th style="width:10%;">标题</th>
			<th>内容</th>
			<th style="width:15%;">发布时间</th>
			<th style="width:100px;text-align:center;">操作</th>
		</tr>
		<volist name="list" id="vo">
			<tr>
				<td>{$vo.title}</td>
				<td>{$vo.content|substr=###,0,100}...</td>
				<td>{$vo.time}</td>
				<td style="text-align:center;"><a href="{:U('Admin/News/edit',array('id'=>$vo['id']))}"><button type="button" class="btn btn-info">编辑</button></a>
					<a href="{:U('Admin/News/del',array('id'=>$vo['id']))}" onclick="return confirm('是否确认删除？')"><button type="button" class="btn btn-info">删除</button></a>
				</td>
			</tr>
		</volist>
		<tr>
			<td colspan="9" style="text-align:right;">{$page}</td>
		</tr>
	</table>
</body>
</html>