<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
	<link href="__TMPL__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
	<link href="__TMPL__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
	
	
<style type="text/css">
body {
	padding-bottom: 40px;
	padding: 10px 20px 20px 10px;
}
</style>
<include file="Public:picUpload" />
</head>
<body>
	<div class="tips tips-large tips-success">
		<span class="x-icon x-icon-success">
			<i class="icon icon-ok icon-white"></i>
		</span>
		<div class="tips-content">
			<h2>底部菜单编辑</h2>
		</div>
	</div>
	<br/>
	<form action="{:U('Admin/WxMenus/editMenuProcess')}" method="post">
	<input type="hidden" name="id" value="{$list.id}">
	<table class="table table-bordered table-hover definewidth m10">
		<tr>
			<td style="width:15%;">菜单名称</td>
			<td><input type="text" name="name" value="{$list.name}"></td>
		</tr>

		<tr>
			<td colspan='2'>
				<button type="submit">提交</button>
			</td>	
		</tr>
	</table>
	</form>
</body>
</html>